.wrapper{
  display: flex;
  flex-direction: column;
  position: relative;
}

header{
    box-shadow: 0px 0px 5px rgba(0,0,0,0.15);
}

header .head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    background: #cccccc2c;
}

header .head .logo{
    width: 50px;
}

header .head .action{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .head .action form{
    margin-right: 15px;
}

header .action .userName{
  display: flex;
  align-items: center;
  background-color: #32475CDE;
  padding: 5px 10px;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 15px;
  position: relative;
  transition: 0.2s;
}

header .action .userName.active{
  border-radius: 10px 10px 0px 0px;
}

header .action .userName i{
  margin: 5px;
  padding: 0 ;
  color: #fff ;
  font-size: 16px ;
}

header .action .userName p{
  font-weight: bold;
}

header .head .action a i{
    font-size: 20px;
    color: #32475CDE;
    padding: 0 30px;
}

header .head .action button{
    font-size: 20px;
    color: #32475CDE;
    padding: 0 30px;
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
}

header .subAcc {
  position: absolute;
  background-color: #32475CDE;
  min-width: max-content;
  right: 0;
  top: 100%;
  box-shadow: 0px 3px 3px rgba(0,0,0,0.15);
  height: 0 ;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

header .subAcc.active {
  height: max-content;
  padding: 10px;
  border-radius: 10px 0px 10px 10px;
}


header .subAcc ul a li{
  padding: 10px 5px;
}

header .subAcc ul a li:hover{
  background-color: #6e6e7367;
}

nav .top {
    padding: 100px;
}

nav .top h5{
    font-size: 48px;
    padding: 30px;
    color: #6E6E73;
}

nav .top h5 span{
    color: rgba(253, 35, 35, 0.949);
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul li{
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

nav ul li img{
    padding: 10px;
    width: 120px;
}

nav ul li p{
    color: #32475CDE;
    text-align: center;
    font-size: 14px;
    
}

nav ul li:hover p{
  text-decoration: underline;
}

.search{
  width: 100%;
  position: absolute;
  top: 75px;
  height: 0;
  backdrop-filter: blur(5px);
  overflow: hidden;
  transition: all 0.5s;
  z-index: 1;
}

.search.active{
  height: calc(100vh - 70px);
}

.search .container{
  /* height: 0;
  overflow: hidden; */
  padding: 10px 20%;
  padding-bottom: 30px;
  background-color: #fff;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.15);
}

.search .container p{
  color: #32475CDE;
  padding: 10px;
  padding-top: 30px;
}

.search .container ul li{
  font-size: 14px;
  color: #32475CDE;
  padding: 5px 10px;
}

.search .container ul li i{
  margin-right: 10px;
}


.search .container input{
  font-size: 24px;
  width: 100%;
  border: none;
  outline: none;
  padding: 15px;
  color: #32475CDE;
  margin: 10px;
}

/*  */

.newPro{
  width: 90%;
  margin: 120px auto;
  position: relative;
}

.newPro h5{
  font-size: 28px;
  color: #6E6E73;
  padding: 30px;
}

   .slider {
    width: 100%;
    height: 350px;
    position: relative;
    margin: auto;
    overflow-x: scroll;
    /* overflow-y: hidden; */
    display: flex;
    align-items: center;
  }
  
  .slider::-webkit-scrollbar {
    display: none;
  }
  
  .slider .slide {
    display: flex;
    position: absolute;
    left: 0;
    transition: 0.3s left ease-in-out;
    padding: 0px 50px;
    z-index: 0;
  }
  
  /* .slider .item {
    height: 300px;
    margin-right: 10px;
  } */

  .slider .item {
    height: 320px;
    margin: 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.15);
    border-radius: 10px;
    transition: 0.5s;
  }

  .slider .item:hover{
    transform: scale(1.1);
  }

  .slider .item .detail{
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .slider .item .detail .infor p{
    color: #32475CDE;
  }

  .slider .item .detail .act button{
    border: none;
    outline: none;
    color: #fff;
    padding: 10px 15px;
    border-radius: 15px;
    background: #32475CDE;
    cursor: pointer;
  }

  .slider .item.hide{
    box-shadow: none;
  }

  .slider .item img{
    height: 80%;
  }
  
  .slider .item:last-child {
    margin-right: 0;
  }
  
  .ctrl {
    text-align: center;
    margin-top: 5px;
  }
  
  .ctrl-btn {
    padding: 20px 20px;
    width: 55px;
    height: 55px;
    background: rgba(0,0,0,0.15);
    color: #fff;
    border-radius: 50%;
    border: none;
    text-align: center;
    cursor: pointer;
    outline: none;
    position: absolute;
    top: 50%;
  }
  
  .ctrl-btn.pro-prev {
    left: 0;
    display: none;
  }

  .ctrl-btn.pro-prev.active{
    display: initial;
  }
  
  .ctrl-btn.pro-next {
    right: 0;
  }
  
  /*  */

  .iPhone,
  .iPad,
  .macBook,
  .watch{
    width: 90%;
    margin: 50px auto;
  }

  .iPhone .head ,
  .iPad .head ,
  .macBook .head ,
  .watch .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;

  }

  .iPhone .head h5,
  .iPad .head h5,
  .macBook .head h5,
  .watch .head h5{
    font-size: 30px;
    color: #6E6E73;
  }
  .iPhone .head a,
  .iPad .head a,
  .macBook .head a,
  .watch .head a{
    font-size: 16px;
    color: #6E6E73;
  }

  .iPhone .head i,
  .iPad .head i,
  .macBook .head i,
  .watch .head i{
    font-size: 16px;
    color: #6E6E73;
    margin-left: 5px;
  }

  .iPhone .products,
  .iPad .products,
  .macBook .products,
  .watch .products {
    display: flex;
  }

  .iPhone .products .product ,
  .iPad .products .product ,
  .macBook .products .product ,
  .watch .products .product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 0 auto;
    transition: 0.5s
  }

  .iPhone .products .product:hover ,
  .iPad .products .product:hover ,
  .macBook .products .product:hover ,
  .watch .products .product:hover{
    transform: scale(1.2);
  }

  .iPhone .products .product img,
  .iPad .products .product img,
  .macBook .products .product img,
  .watch .products .product img{
    height: 150px;
    transition: 0.5s;
  }

  .iPhone .products .product p,
  .iPad .products .product p,
  .macBook .products .product p,
  .watch .products .product p{
    font-size: 14px;
    color: #32475CDE;
  }

  main{
    margin-top: 50px;
  }

  main .product {
    display: flex ;
  }

  main .product .left,
  main .product .right{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  main .product .left img{
    width: 500px;
  }

  main .product .right{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 10px;
    gap: 20px;
  }

  main .product .right .name{
    font-size: 28px;
    font-weight: bold;
    color: #32475CDE;
  }

  main .product .right .priceLog,
    main .product .right .price{
    font-size: 24px;
    /* font-weight: bold; */
    color: rgba(230, 48, 48, 0.804);
  }

  main .product .right .storage p {
    padding: 10px 0px;
    margin-bottom: 20px;
    color: #32475CDE;
  }

  main .product .right .storage a {
    padding: 10px;
    border: 1px solid #32475CDE;
    margin: 10px 20px;
    margin-left: 0px;
    outline: none;
  }

  main .product .right .color p {
    padding: 10px;
    margin-bottom: 20px;
    color: #32475CDE;
  }

  main .product .right .color a {
    padding: 10px;
    border: 1px solid #32475CDE;
    border-radius: 10px;
    margin: 10px 10px;
    outline: none;
  }

  main .product .right .act{
    margin-top: 50px;
  }
  /* main .product .right .act a{
    padding: 15px;
    border: 1px solid #32475CDE;
    border-radius: 10px;
    margin: 15px;
  } */

  main .product .right .act .buyNow{
    background-color:#32475CDE;
    color: #fff;
    padding: 10px;
  }


  main .detail{
    padding: 50px;
    display: flex;
    gap: 50px;
    margin-top: 50px;
  }

  main .detail .left{
    flex: 1; 
  }
  main .detail .right{
    width: 15%;
  }

  main .detail .left .description h5{
    font-size: 20px;
    color: #32475CDE;
    padding: 10px;
  }

  main .detail .left .description .content{
    font-size: 16px;
    color: #6E6E73;
    text-align: justify;
    padding: 10px;
  }

  main .detail .left .comment{
    margin-top: 50px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.15);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
  }

  main .detail .left .comment h5{
    font-size: 20px;
    color: #32475CDE;
    padding: 10px;
  }

  main .detail .left .comment input[type="text"]{
    border: 1px solid #32475CDE;
    outline:  none;
    padding: 20px 10px;
    border-radius: 10px;
    width: 100%;
  }

  main .detail .left .comment input[type="submit"]{
    padding: 10px;
    outline: none;
    border: none;
    background-color: #32475CDE;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px 0;
    float: right;
  }

  main .detail .left .comment .listComment{
    margin-top: 20px;
    border-top: 1px solid #ccc;
  }

  main .detail .left .comment ul li{
    max-width: fit-content;
    padding: 10px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.15);
    border-radius: 10px;
    margin: 15px;
  }

  main .detail .right .samePro h5{
    font-size: 20px;
    color: #32475CDE;
    padding: 10px 0px;
  }

  main .detail .right .samePro .product{
    margin: 20px 0px;
    display: flex;
    align-items: center;
  }

  main .detail .right .samePro .product .detail{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    gap: 0;
  }

  main .detail .right .samePro .product .detail p{
    margin: 5px;
    font-size: 16px;
    color: #6E6E73;
  }


  main .detail .right .samePro .product img{
    height: 70px;
    object-fit: cover;
  }

  .signUp,
  .signIn{
    margin: 50px auto;
  }

  .signUp h5,
  .signIn h5{
    font-size: 28px;
    margin-bottom: 50px;
    text-align: center;
    color: #32475CDE;
  }

  .signUp form div,
    .signIn form div{
    display: flex;
    flex-direction: column;
  }

  .signUp form input,
    .signIn form input{
    padding: 10px;
    margin: 10px 0px;
    outline: none;
    border: 1px solid #32475CDE;
  }

  .signUp form input[type="submit"],
    .signIn form input[type="submit"]{
    background-color: #32475CDE;
    color: #fff;
    cursor: pointer;
    margin-top: 20px;
  }

  .signUp p,
    .signIn p{
    margin-top: 30px;
  }

  .signUp p a,
    .signIn p a{
    color: #32475CDE;
    font-weight: bold;
  }

.right .act input[type="submit"]{
  padding: 10px;
  color: #fff;
  background-color: #32475CDE;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
}


 .board{
  background-color: #fff;
  width: 90%;
  padding: 0px 10px;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.15);
}
 .board tr th,
 .board tr td{
  width: calc(100%/7);
}


 .board tr th{
  font-size: 16px;
  font-weight: 550;
  color: #32475CDE;
  padding: 15px 0px;
  margin: 0;
}

 .board tr td{
  padding: 10px;
  font-size: 16px;
  color: #32475C99;
  text-align: center;
  margin: 0;
  border-top: 1px solid #32475c3a;
  border-spacing: 0px;
}

 .board tr td a{
  background: transparent;
  padding: 5px 10px;
  margin:5px;
  cursor: pointer;
}

.board tr td a i{
  background-color: rgba(255, 0, 0, 0.718);
  color: #fff;
  padding: 10px;
}

.cart h5{
  font-size: 28px;
  color: #32475CDE;
  text-align: center;
  padding: 10px;
  margin-bottom: 30px;
}

.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart .action a{
  padding: 10px;
  border: 1px solid #32475CDE;
  margin: 10px;
}

.cart .action{
  margin-top: 50px;
}

.cart p a{
  color: #32475CDE;
  font-weight: bold;
  text-decoration: underline;
}