.wrapper{
  display: flex;
  flex-direction: column;
  position: relative;
}

header{
    box-shadow: 0px 0px 5px rgba(0,0,0,0.15);
    z-index: 10;
}

header .head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    background: #cccccc2c;
}

header .head .logo{
    width: 50px;
}

header .head .action{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .head .action form{
    margin-right: 15px;
}

header .action .userName{
  display: flex;
  align-items: center;
  background-color: #32475CDE;
  padding: 5px 10px;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 15px;
  position: relative;
  transition: 0.2s;
}

header .action .userName.active{
  border-radius: 10px 10px 0px 0px;
}

header .action .userName i{
  margin: 5px;
  padding: 0 ;
  color: #fff ;
  font-size: 16px ;
}

header .action .userName p{
  font-weight: bold;
}

header .head .action a i{
    font-size: 20px;
    color: #32475CDE;
    padding: 0 30px;
}

header .head .action button{
    font-size: 20px;
    color: #32475CDE;
    padding: 0 30px;
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
}

header .subAcc {
  position: absolute;
  background-color: #32475CDE;
  min-width: max-content;
  right: 0;
  top: 100%;
  box-shadow: 0px 3px 3px rgba(0,0,0,0.15);
  height: 0 ;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

header .subAcc.active {
  height: max-content;
  padding: 10px;
  border-radius: 10px 0px 10px 10px;
}


header .subAcc ul a li{
  padding: 10px 5px;
}

header .subAcc ul a li:hover{
  background-color: #6e6e7367;
}

nav .top {
    padding: 100px;
}

nav .top h5{
    font-size: 48px;
    padding: 30px;
    color: #6E6E73;
}

nav .top h5 span{
    color: rgba(253, 35, 35, 0.949);
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul li{
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

nav ul li img{
    padding: 10px;
    width: 120px;
}

nav ul li p{
    color: #32475CDE;
    text-align: center;
    font-size: 14px;
    
}

nav ul li:hover p{
  text-decoration: underline;
}

.search{
  width: 100%;
  position: absolute;
  top: 75px;
  height: 0;
  backdrop-filter: blur(5px);
  overflow: hidden;
  transition: all 0.5s;
  z-index: 2;
}

.search.active{
  height: calc(100vh - 76px);
}

.search .container{
  /* height: 0;
  overflow: hidden; */
  padding: 10px 20%;
  padding-bottom: 30px;
  background-color: #fff;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.15);
}

.search .container p{
  color: #32475CDE;
  padding: 10px;
  padding-top: 30px;
}

.search .container ul li{
  font-size: 14px;
  color: #32475CDE;
  padding: 5px 10px;
}

.search .container ul li i{
  margin-right: 10px;
}


.search .container input{
  font-size: 24px;
  width: 100%;
  border: none;
  outline: none;
  padding: 15px;
  color: #32475CDE;
  margin: 10px;
}

/*  */

.newPro{
  width: 90%;
  margin: 120px auto;
  position: relative;
}

.newPro h5{
  font-size: 28px;
  color: #6E6E73;
  padding: 30px;
}

   .slider {
    width: 100%;
    height: 350px;
    position: relative;
    margin: auto;
    overflow-x: scroll;
    /* overflow-y: hidden; */
    display: flex;
    align-items: center;
  }
  
  .slider::-webkit-scrollbar {
    display: none;
  }
  
  .slider .slide {
    display: flex;
    position: absolute;
    left: 0;
    transition: 0.3s left ease-in-out;
    padding: 0px 50px;
    z-index: 0;
  }
  
  /* .slider .item {
    height: 300px;
    margin-right: 10px;
  } */

  .slider .item {
    height: 320px;
    margin: 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.15);
    border-radius: 10px;
    transition: 0.5s;
  }

  .slider .item:hover{
    transform: scale(1.1);
  }

  .slider .item .detail{
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .slider .item .detail .infor p{
    color: #32475CDE;
  }

  .slider .item .detail .act button{
    border: none;
    outline: none;
    color: #fff;
    padding: 10px 15px;
    border-radius: 15px;
    background: #32475CDE;
    cursor: pointer;
  }

  .slider .item.hide{
    box-shadow: none;
  }

  .slider .item img{
    height: 80%;
  }
  
  .slider .item:last-child {
    margin-right: 0;
  }
  
  .ctrl {
    text-align: center;
    margin-top: 5px;
  }
  
  .ctrl-btn {
    padding: 20px 20px;
    width: 55px;
    height: 55px;
    background: rgba(0,0,0,0.15);
    color: #fff;
    border-radius: 50%;
    border: none;
    text-align: center;
    cursor: pointer;
    outline: none;
    position: absolute;
    top: 50%;
  }
  
  .ctrl-btn.pro-prev {
    left: 0;
    display: none;
  }

  .ctrl-btn.pro-prev.active{
    display: initial;
  }
  
  .ctrl-btn.pro-next {
    right: 0;
  }
  
  /*  */

  .iPhone,
  .iPad,
  .Macbook,
  .Watch{
    width: 90%;
    margin: 50px auto;
  }

  .iPhone .head ,
  .iPad .head ,
  .Macbook .head ,
  .Watch .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;

  }

  .iPhone .head h5,
  .iPad .head h5,
  .Macbook .head h5,
  .Watch .head h5{
    font-size: 30px;
    color: #6E6E73;
  }
  .iPhone .head a,
  .iPad .head a,
  .Macbook .head a,
  .Watch .head a{
    font-size: 16px;
    color: #6E6E73;
  }

  .iPhone .head i,
  .iPad .head i,
  .Macbook .head i,
  .Watch .head i{
    font-size: 16px;
    color: #6E6E73;
    margin-left: 5px;
  }

  .iPhone .products,
  .iPad .products,
  .Macbook .products,
  .Watch .products {
    display: flex;
  }

  .iPhone .products .product ,
  .iPad .products .product ,
  .Macbook .products .product ,
  .Watch .products .product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 0 auto;
    transition: 0.5s
  }

  .iPhone .products .product:hover ,
  .iPad .products .product:hover ,
  .Macbook .products .product:hover ,
  .Watch .products .product:hover{
    transform: scale(1.2);
  }

  .iPhone .products .product img,
  .iPad .products .product img,
  .Macbook .products .product img,
  .Watch .products .product img{
    width:150px;
    transition: 0.5s;
  }

  .iPhone .products .product p,
  .iPad .products .product p,
  .Macbook .products .product p,
  .Watch .products .product p{
    font-size: 14px;
    color: #32475CDE;
    margin-top: 10px;
  }

  main{
    margin-top: 50px;
  }

  main .product {
    display: flex ;
  }

  main .product .left,
  main .product .right{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  main .product .left img{
    height: 400px;
    cursor: zoom-in;
  }

  main .product .right{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 10px;
    gap: 20px;
    padding-left: 50px;
  }

  main .product .right .name{
    font-size: 28px;
    font-weight: bold;
    color: #32475CDE;
  }

  main .product .right .priceLog,
    main .product .right .price{
    font-size: 24px;
    /* font-weight: bold; */
    color: rgba(230, 48, 48, 0.804);
  }

  main .product .right .storage p {
    padding: 10px 0px;
    margin-bottom: 20px;
    color: #32475CDE;
  }

  main .product .right .storage a {
    padding: 10px;
    border: 1px solid #32475CDE;
    margin: 10px 20px;
    margin-left: 0px;
    outline: none;
  }

  main .product .right .color p {
    padding: 10px;
    margin-bottom: 20px;
    color: #32475CDE;
  }

  main .product .right .color a {
    padding: 10px;
    border: 1px solid #32475CDE;
    border-radius: 10px;
    margin: 10px 10px;
    outline: none;
  }

  

  main .product .right .quanlity{
    margin: 15px 0px;
  }

  main .product .right .quanlity label{
    color: #32475CDE;
  }

  main .product .right .quanlity input{
    padding: 5px;
    outline: none;
    border: 1px solid #32475CDE;
    cursor: pointer;
    margin-left: 5px;
  }

  /* main .product .right .act a{
    padding: 15px;
    border: 1px solid #32475CDE;
    border-radius: 10px;
    margin: 15px;
  } */

  main .product .right .act .buyNow{
    background-color:#32475CDE;
    color: #fff;
    padding: 10px;
  }

  main .product .right .freeShip{
    color: #32475CDE;
    font-style: italic;
    margin: 10px 0px;
    font-size: 14px;

  }
  main .product .right .freeShip i{
    margin-right: 10px;
  }


  main .detail{
    padding: 50px;
    display: flex;
    gap: 50px;
    margin-top: 50px;
  }

  main .detail .left{
    flex: 1; 
  }
  main .detail .right{
    width: 15%;
  }

  main .detail .left .description h5{
    font-size: 20px;
    color: #32475CDE;
    padding: 10px;
  }

  main .detail .left .description .content{
    font-size: 16px;
    color: #6E6E73;
    text-align: justify;
    padding: 10px;
    display: flex;
    flex-direction: column;
  }

  main .detail .left .description .content table{
    border-collapse: collapse;
    margin: 0 auto;
    width: 80%;
    text-align: center;
  }
  main .detail .left .description .content table tr td{
    border: 1px solid #32475C99;
    padding: 10px;
  }

  main .detail .left .comment{
    margin-top: 50px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.15);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
  }

  main .detail .left .comment h5{
    font-size: 20px;
    color: #32475CDE;
    padding: 10px;
  }

  main .detail .left .comment input[type="text"]{
    border: 1px solid #32475CDE;
    outline:  none;
    padding: 20px 10px;
    border-radius: 10px;
    width: 100%;
  }

  main .detail .left .comment input[type="submit"]{
    padding: 10px;
    outline: none;
    border: none;
    background-color: #32475CDE;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px 0;
    float: right;
  }

  main .detail .left .comment .listComment{
    margin-top: 20px;
    border-top: 1px solid #ccc;
  }

  main .detail .left .comment ul li{
    max-width: fit-content;
    padding: 10px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.15);
    border-radius: 10px;
    margin: 15px;
  }

  main .detail .right .samePro h5{
    font-size: 20px;
    color: #32475CDE;
    padding: 10px 0px;
  }

  main .detail .right .samePro .product{
    margin: 20px 0px;
    display: flex;
    align-items: center;
  }

  main .detail .right .samePro .product .detail{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    gap: 0;
  }

  main .detail .right .samePro .product .detail p{
    margin: 5px;
    font-size: 16px;
    color: #6E6E73;
  }


  main .detail .right .samePro .product img{
    width: 70px;
    object-fit: cover;
  }

  .signUp,
  .signIn{
    margin: 50px auto;
  }

  .signUp h5,
  .signIn h5{
    font-size: 28px;
    margin-bottom: 50px;
    text-align: center;
    color: #32475CDE;
  }

  .signUp form div,
    .signIn form div{
    display: flex;
    flex-direction: column;
  }

  .signUp form input,
    .signIn form input{
    padding: 10px;
    margin: 10px 0px;
    outline: none;
    border: 1px solid #32475CDE;
  }

  .signUp form input[type="submit"],
    .signIn form input[type="submit"]{
    background-color: #32475CDE;
    color: #fff;
    cursor: pointer;
    margin-top: 20px;
  }

  .signUp p,
    .signIn p{
    margin-top: 30px;
  }

  .signUp p a,
    .signIn p a{
    color: #32475CDE;
    font-weight: bold;
  }

.right .act input[type="submit"]{
  padding: 10px;
  color: #fff;
  background-color: #32475CDE;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
}


 .board{
  background-color: #fff;
  width: 90%;
  padding: 0px 10px;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.15);
  margin-bottom: 100px;
}
 .board tr th,
 .board tr td{
  width: calc(100%/8);
}


 .board tr th{
  font-size: 16px;
  font-weight: 550;
  color: #32475CDE;
  padding: 15px 0px;
  margin: 0;
}

 .board tr td{
  padding: 10px;
  font-size: 16px;
  color: #32475C99;
  text-align: center;
  margin: 0;
  border-top: 1px solid #32475c3a;
  border-spacing: 0px;
}

 .board tr td a{
  background: transparent;
  padding: 5px 10px;
  margin:5px;
  cursor: pointer;
}

.board tr td a i{
  background-color: rgba(255, 0, 0, 0.718);
  color: #fff;
  padding: 10px;
}

.cart h5{
  font-size: 28px;
  color: #32475CDE;
  text-align: center;
  padding: 10px;
  margin-bottom: 30px;
}

.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart .action a{
  padding: 10px;
  border: 1px solid #32475CDE;
  margin: 10px;
}

.cart .action input{
  font-size: 16px;
  padding: 10px;
  border: 1px solid #32475CDE;
  margin: 10px;
  background-color: transparent;
  cursor: pointer;
}
.cart .action{
  margin-top: 50px;
}

.cart p a{
  color: #32475CDE;
  font-weight: bold;
  text-decoration: underline;
}


.cart .totalPrice td{
  color: #32475CDE;
  font-weight: bold;
}

.bill h5{
  font-size: 28px;
  color: #32475CDE;
  text-align: center;
  padding: 10px;
  margin-bottom: 30px;
}

.bill{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bill .board table{
  width: 100%;
}

.bill .address {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.bill .address p:first-child{
  font-size: 18px;
  color: #32475CDE;
}

.bill .address p{
  color: #32475C99;
  padding: 5px;
}

.bill .address a{
  border: 1px solid #32475CDE;
  padding: 10px;
  max-height: fit-content;
  color: #32475CDE;
  margin: 10px;
}

.bill .address div:last-child{
  display: flex;
  align-items: center;
}

.pay{
  color: #32475C99;
  padding: 10px;
  margin-top: 30px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.pay p {
  color: #32475CDE;
  font-size: 18px;
  padding: 10px;
}

.pay input[type="radio"]{
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: 1px solid #32475C99;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  cursor: pointer;
}

.pay input[type="radio"]:checked{
  background: #32475C99;
}

.pay div{
  padding: 5px 10px;
}

.bill .act {
  padding: 10px;
  display: flex;
  align-items: end;
}

.bill .act input{
  padding: 10px;
  color: #fff;
  background-color: #32475CDE;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
}

.bill .totalPrice td{
  color: #32475CDE;
  font-weight: bold;
}

aside {
  position: absolute;
  height: calc(100vh - 64px);
  width: 18%;
  padding: 10px 0px;
  box-shadow: 0px 10px 5px rgba(0,0,0,0.15);
  left: 0;
  top: 64px;
  z-index: 1;
}

aside .logo h1{
  font-size: 28px;
  font-weight: 800;
  text-align: center;
  margin: 20px;
}

aside .nav{
  padding: 10px;
}

aside .nav li{
  padding: 20px 10px;
  font-size: 16px;
  display: flex;
  align-items: center;
  color: #32475C99;
  
  transition: 0.5s;
}

.fa-chevron-down{
  font-size: 14px !important;
  text-align: end !important;
  flex: 1;
}

.properties{
  display: none;
}


.propertiesAct.active i:last-child{
  transform: rotateX(180deg);
  text-align: end;
}

.properties.active {
  display: block;
}

.properties li{
  margin-left: 15px;
}

aside .nav li:hover{
  background-color: #e7e7ff;
}

aside .nav li i{
  width: 40px;
  font-size: 20px;
  text-align: center;
  margin-right: 10px; 
}

.user_main{
  background-color: #f5f5f9;
  padding: 10px;
  width: 82%;
  min-height: calc(100vh - 64px);
  position: absolute;
  right: 0;
  top: 24px;
  z-index: 0;

}

.user_main h5{
  font-size: 28px;
  font-weight: normal;
  color: #32475CDE;
  padding: 10px;
}

.user_main p{
  color: #32475CDE;
  padding: 10px;
}

.user_main .board {
  padding: 10px;
  margin: 10px;
  width: 95%; 
}

.user_main .board table{
  width: 100%;
}

.user_main .back_bill{
  margin-top: 30px; 
}

.user_main .back_bill a{ 
  border: 1px solid #32475CDE;
  padding: 10px;
  margin: 10px;

}
.user_main .board_bill tr th, 
.user_main .board_bill tr td {
  width: calc(90% / 5) !important;
}

.user_main .board_bill tr th:last-child, 
.user_main .board_bill tr td:last-child {
  width: 5%;
}

.user_main .board_bill tr th:nth-last-child(1), 
.user_main .board_bill tr td:nth-last-child(1) {
  width: 5%;
}

.user_main .board_bill tr a {
  padding: 0;
}

.user_main .board_bill tr a i{
  background: #32475CDE;
}

.user_main .board div{
  display: flex;
  flex-direction: column;
}

.user_main .board label{
  padding: 10px;
  color: #32475C99;
}

.user_main .board input{
  padding: 10px;
  outline: none;
  border: none;
  border-bottom: 1px solid #32475C99;
  margin: 10px;
  font-size: 16px;
  color: #32475C99;
}

.user_main .board input:focus{
  color: #32475CDE;
}

.user_main .board input[type="submit"]{
  border: none;
  color: #fff;
  background-color: #32475CDE;
  padding:  10px;
  font-size: 16px;
  cursor: pointer;
}

.user_main .board_pass div{
  position: relative;
}

.user_main .board_pass div i{
  color: #32475C99;
  position: absolute;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
}

/*  */

.updateInfo{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.updateInfo h5{
  color: #32475CDE;
  font-size: 28px;
  text-align: center;
  margin-bottom: 30px;
}

.updateInfo .board{
  display: flex;
  width: fit-content;
  padding: 0 50px;
}

.updateInfo form{
  padding: 10px;
  /* width: fit-content; */
  margin: 0 auto;
}

.updateInfo label{
  color: #32475CDE;
}

.updateInfo .board div{
  margin: 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.updateInfo div input{
  float: right;
  border: 1px solid #32475CDE;
  outline: none;
  padding: 10px;
  margin-left: 30px;
}

.updateInfo .board .act {
  display: block;
  padding-bottom: 20px;  
}

.updateInfo .board .act input{
  padding: 10px;
  background: #32475CDE;
  color: #fff;
  outline: none;
  cursor: pointer;
}

.titleList{
  font-size: 28px;
  color: #32475CDE;
  padding: 30px;
  text-align: center;
}

.listPro {
  display: flex;
  column-gap:calc(10% / 4) ;
  row-gap: 30px;
  flex-wrap: wrap;
  justify-content: left;
}

.main_list{
  display: flex;
}

main .container{
  width: 90%;
  margin: 0 auto;
}

main .container .listPro .pro img {
  width: 200px;
}

main .container .listPro a {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.15);
  cursor: pointer;
  transition: all 0.5s;
  width: calc(90%/5);
  justify-content: space-between;
}

main .container .listPro a:hover{
  transform: scale(1.1)
}

main .container .listPro .del{
  display: flex;
  justify-content: space-between;
  width: 100%;   
  align-items: center;
  margin-top: 15px;
}

main .container .listPro p{
  font-size: 16px;
  color: #32475CDE;
}

main .container .listPro button{
  padding: 5px 10px;
  background-color: #32475CDE;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 5px;
  
}